@import "buttons";

@import "fields";


.mailchimp-form-wrap {
  max-width: 80%;
  margin: 0 10%;
  padding: 0 60px;
  input,button {
    width: 100%
  }
  h2 {
    text-align: center;
  }
}

.caldera-form {


  #row-2-column-1 {
    width: 100%;
    .caldera-field-wrapper {
      padding: 0;
    }
    div, input { width: 100%}
  }
  #row-3-column-1 {
    width: 100%;
    div, input { width: 100%}
  }
}
